* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --ml: #25316D;
    --software: #D2001A;
    --hardware: #333;
    --publication: #FEF5AC;
    --data: #3D8361;
    --neurotechBlue: rgb(66,115,181);
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --neurotechYellow: rgb(241,211,89);
}

.content {
    background-image: url("Baskins.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.wrapper {
    position: relative;
}

#gradient {
    display: none;
    background: #999955;
    background-image: linear-gradient(#DAB046 20%, #D73B25 20%, #D73B25 40%, #C71B25 40%, #C71B25 60%, #961A39 60%, #961A39 80%, #601035 80%);
    margin: 0 auto;
    margin-top: 250px;
    width: 100%;
    height: 150px;
  }

  .contacts {
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  .flex-break {
    flex-basis: 100%;
    height: 0;
  }
  .contact-card {
    width: 20%;
    min-width: 200px;
    height: 100px;
    background-color: var(--veryLightGray);
    box-shadow: 1px 1px 5px gray;
    margin: 20px;
  }

  .contact-card h1 {
    padding: 20px;
    font-size: 1.5rem;
  }

  .contact-card a {
    padding: 20px;
    text-decoration: underline;
  }
  
  .contact-card a img {
    width: 32px;
    height: 32px;
  }

  .content p {
    text-align: center;
    font-size: 2rem;
    margin: auto;
    max-width: fit-content;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(33, 33, 33, 0.25);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    color: white;
  }