* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --ml: #25316D;
    --software: #D2001A;
    --hardware: #333;
    --publication: #FEF5AC;
    --data: #3D8361;
    --neurotechBlue: rgb(66,115,181);
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --neurotechYellow: rgb(241,211,89);
}

@media screen and (max-width: 800px) {
    * {
        font-size: 10px;
    }
}

@media screen and (min-width: 800px) {
    * {
        font-size: 16px;
    }

    body {
        margin-top: 100px;
    }
    
}

body {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 800px) {
    .mobile-header {
        display: none;
    }
    a {
        color: inherit;
        text-decoration: none;
        font: inherit;
        size: inherit;
    }

    .normal-header {
        /* background-color: rgb(21, 148, 252); */
        background-color: rgb(47, 117, 186);
        align-items: center;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        position: fixed;
        top:0px;
        transition: 200ms;
        overflow: hidden;
        color: white;
        z-index: 5;

    }

    .nav-logo {
        height: 75%;
    }

    .nav-left, .nav-right {
        width: 40vw;
        height: 40%;
        margin-right: 20px;
        margin-left: 20px;
        display: flex;
        align-items: center;
        font-size: inherit;
    }

    .nav-left {
        justify-content: right;
    }
    header li {
        display:inline-block;
    }

    .navitem {
        width:  fit-content;
        padding: 0 10px;
        cursor: pointer;
        padding: 10px 10px;
        font-weight: bolder;
        font-size: min(25px, 100%);
        position: relative;
        z-index: 2;
    }

    .navitem::after {
        content: '';
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
        height: 0.15em;
        background-color: rgb(255, 193, 78);
        opacity: 0;
        transition: 400ms;
        transform: translate3d(0, 0.35em, 0);
    }

    .navitem:hover::after {
        /* background-color: rgb(223, 223, 223); */
        opacity: 1;
        transform: translate3d(0, 0.8em, 0);

    }

    .normal-header-socials {
        background-color: var(--veryLightGray);
        padding: 5px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
    }
    .normal-header-socials img {
        width: 32px; 
        height: 32px;
    }
}

@media (max-width:800px) {
    body {
        margin-top: 64px;
    }
    .normal-header {
        display: none;
    }
    .mobile-header {
        display: block;
        position: fixed;
        background-color: var(--neurotechBlue);
        width: 100%;
        top: 0px;
        z-index: 5;
        text-align: center;

    }

    .links {
        display: none;
        background-color: var(--neurotechBlue);
        font-weight: bold;
    }

    .links a{
        display: block;
        padding: 14px 16px;
        text-decoration: none;
        color: white;
        font-size: 1.1rem;
        display: block;
        border-bottom: #333 solid 1px;
    }

    .mobile-header img {
        width: 64px;
        height: 64px;
        margin-left: 10px;
    }

    .mobile-header-bars {
        position: absolute;
        top: 0px;
        right: 0px;
        color: white;
        filter: invert(100%);
    }

    .normal-header-socials {
        background-color: var(--veryLightGray);
        padding: 0px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        border-bottom: none;
        margin: auto;
    }
    .normal-header-socials img {
        width: 32px; 
        height: 32px;
    }
    .normal-header-socials a {
        border: none;
    }

    .mobile-header p {
        color: white;
        margin-top: 10px;
        padding: 5px;
        font-weight: bolder;
        font-size: 1.2rem;
    }
}