* {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --neurotechYellow: rgb(241,211,89);
}

body {
    margin-top: 100px;
}

body {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.content a {
    color: inherit;
    text-decoration: none;
    font: inherit;
    size: inherit;
}


/* Main Image */

.content {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
}
.main-image-container {
    width: 60%;
    text-align: center;
    overflow: hidden;
    margin: auto;
}
.carousel-img{
    display: inline-block;
    margin-right: auto;
    transition: ease-in-out;
    object-fit: cover;
    margin-top: 2%;
    width: 100%;

}

.blue a {
    border-bottom: var(--neurotechYellow) 2px solid;
}
.active {
    display: block;
}

.inactive {
    display:none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from{opacity: .4}
    to {opacity:1}
}

.welcome-text {
    padding: 25px;
    background-color: rgba(33, 33, 33, 0.5);
    display: inline;
    border: 1px solid white;
    position: absolute;
    top:50%;
    left: 60%;
    color: white;
    font-weight: bold;
    font-size: 2.4rem;
}

/* Index Cards */

.cards {
    width: 100%;
    z-index: 4;
}


.competition-link {
    display: block;
    margin-top: 40px;
    text-decoration: underline;
}

.box {
    min-height: fit-content;
}

.teams-bold {
    font-weight: bold;
}




.centerline {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    border-left: 1px solid magenta;
    z-index: 20;
}

/* Below css adapted from https://codepen.io/jared-parsons/pen/xxVoebB */




.box p {
    color: var(--grayishBlue);
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;  
    background-color: white;
    max-width: 1000px;
}


@media (max-width: 800px) {
    .box {
        height: 200px;
        background-color: white;
    }

    .main-image-container {
        width: auto;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
        background-color: white;
    }
}

.cyan {
    border-top: 3px solid var(--cyan);
}
.red {
    border-top: 3px solid var(--red);
}
.blue {
    border-top: 3px solid var(--blue);
}
.orange {
    border-top: 3px solid var(--orange);
}

h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
}


@media (min-width: 800px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 90%;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        height: 150px;
     
    }
    .header p {
        width: 30%;
    }
    
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
}
:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

/* DONE */

.card-img {
    float:right;
    height: 64px;
}

/* Button 27*/
.button-27 {
    appearance: none;
    background-color: rgb(47, 117, 186);
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}
  
  .button-27:disabled {
    pointer-events: none;
}
  
  .button-27:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
  
  .button-27:active {
    box-shadow: none;
    transform: translateY(0);
}

  /* DONE */

.buttons {
    display: flex;
    justify-content: center;
}

.button-27 {
    width: fit-content;
    margin: 25px 10px;
}
/* Adapted from: */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  .bottom {
    display: inline-block;
    width: 4em;
    height: 4em;
    border: 0.5em solid #333;
    border-radius: 50%;
    margin-left: 0.75em;
  }
  
  .bottom:after {
    content: '';
      display: inline-block;
    margin-top: 0.6em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.5em solid #333;
    border-right: 0.5em solid #333;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }